body{
    font-family: 'Pacifico', cursive;
    background-size: cover;
    color: white;
}
.anker{
    padding: 5px;
    background-color: white;
    width: 300px;
    border-radius: 50px;
}
